  body {
    color: $body-color;
  }  

  h3{
    color: $black;
  }
  
  .navbar-brand{
    font-size: 1.5rem;
  }

  .nav-link {
    color: rgba(251, 243, 243, 1) !important;
    font-weight: 500;
  }

  .btn-outline-success{
    color: $btn-color;
    border-color:$btn-outline-color;
    font-weight: 500;
  }

  .noborder{
    border: 0px !important;;
  }
  
  .fontbold{
    font-weight: 600;
  }

  .btn-primary{
    background-color: $btn-primary-color;
    border-color: $btn-primary-color;
  }   

  .mt-6{
    margin-top: 5rem !important;
  }

  .board-color{
    background:#e2e4e6;
    color: #948e8e;
    font-weight: 500;
    cursor: pointer;
  }

  .board-color:hover{
    background:#a6a8aa;
    color: #948e8e;
    font-weight: 500;
    cursor: pointer;
  }

  .pointer{
    cursor: pointer;
  }

  #boards .close {
    color: #f0e7e7;
  }

.list {
    background: #e2e4e6;
    border-radius: 3px;
    box-sizing: border-box;
    flex-direction: column;
    max-height: 100%;
    white-space: normal;
    cursor: pointer;
    box-shadow: 0 1px 8px 0 rgba(0,0,0,0.2);
}

.addcard{
  font-weight: 500;
}

.addcard:hover{
  background: #a6a8aa;
}

.list-card {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 0 #ccc;
  cursor: pointer;
  display: block;
  margin-bottom: 8px;
  max-width: 300px;
  min-height: 20px;
  position: relative;
  text-decoration: none;
  z-index: 0;
}

.portlet-placeholder {
  border: 1px dotted black;
  margin: 0 1em 1em 0;
  height: 50px;
} 

.listofcards{
  min-height: 50px;
}

@media (min-width: 40em) {
      
}


  
 